#banner{
    width: 100%;
    height: 550px;
}

.gradiente{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: 100vw;
    background: linear-gradient(45deg, #4a3933, #f0a500, #e45826, #e6d5b8);
    background-size: 300% 300%;
    animation: colors 15s ease infinite;
}

@keyframes colors{
    0% {
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.principal{
    background: #4a3933;
    padding: 30px;
    font-family: "Monteserrat", sans-serif;
}

.titulo-principal{
    color: #ffffff;
    font-weight: 600;
    font-size: 4rem;
    border: 3px solid #ffffff;
    padding: 2rem 4rem;
    text-align: center;
    margin-right: 25%;
    margin-left: 25%;
}

.titulo-centralizado {
    text-align: center;
    font-size: 3rem;
    color: #ffffff;
}

p {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
}

#missao {
    font-size: 30px;
}

em strong{
    color: #f0a500;
}

.beneficios{
    background: #ffffff;
    padding: 20px;
}


.itens{
    font-style: italic;
    font-size: 25px;
}
ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembeneficios{
    width: 50%;
}