#banner{
    width: 100%;
    height: 450px;
}

body{
    background: #0c0c95;
}

h1 {
    text-align: center;
    color: #ffffff;
    height: 150px;
    border: 10px solid #000000;
    padding: 20px;
}

p {
    text-align: center;
    color: #ffffff;
}

#missao {
    font-size: 25px;
}


em strong{
    color: red;
}

